header {
    background-color: white;
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 
        [viewport-start] minmax(10px, auto)
        [container] minmax(auto, 1200px)
        minmax(10px, auto) [viewport-end];
    grid-template-areas: "bg bg bg"
                         "bg bg bg"
                         "bg bg bg";
  grid-template-rows: [navigation] auto [content] 1fr [footer] auto;
}

.background {
    grid-area: bg;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: -1;
  
    background-image: url("../images/JassariBG.svg");
    background-repeat: repeat-x;
    background-color: #2E3192;
  }

  @media (min-width: 720px) {
    .background {
        background-size: 720px auto;
    }
  }
