.helpText {
  margin: 30px 100px 50px;
  font-size: var(--hds-text-lg);
  line-height: var(--hds-text-sm-line-height);
}

@media (max-width: 414px) {
  .helpText {
    margin: 0 10px 50px;
  }
}

.linkArrow{
  color: #0072c6;
}

.button {
  margin-top: 100px;
  margin-bottom: 25px;
}



@media (min-width: 230px) {

}
