.membershipDetails {
  text-align: left;
  word-break: break-all;
}

.subHeading {
  margin-top: 20px;
}

.paragraph {
  margin-top: 20px;
}

.check::before {
  color: var(--hds-brand-color-bus);
  content: '\2713';
  display: inline-block;
  margin-right: 10px;
}
.check {
  display: block;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .membershipDetails {
    margin-left: 40px;
    margin-right: 40px;
  }
  .fieldsGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fieldsGroup > * {
    flex-basis: 50%;
  }
}

.frontLink {
  border: 2px solid var(--hds-ui-color-black);
  color: var(--hds-ui-color-black);
  display: inline-block;
  font-weight: bold;
  margin-top: 40px;
  padding: 16px 50px;
  margin-right: 20px;
}
