.footer {
  grid-column: viewport;
  grid-row: footer;
}

/* Sets the koros image to have a width of 100% instead of >4000px */
.footer > div > svg {
  width: 100%;
}

.spacerHack {
  opacity: 0;
}

.centerHack {
  align-self: center;
}
