.notification {
    width: 300px;
    position: fixed;
    top: 100px;
    right: 0;
}

.notification p {
    margin: 0;
}

/*
    Use !important for now to shrink notification button size
    and prevent button appearing on top of the title text.
    Replace after DismissableNotification accepts className as prop.
*/
.notification button {
    width: 50px !important;
}



