.formTitleText h1 {
    font-size: var(--fontsize-h-2);
    margin-bottom: 15px;
}

.formRow {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.formInputRow {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formInputColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formInput {
    width: 100%;
}

.formInputPostal {
    width: 100%;
}

.formInputCity {
    width: 100%;

}

@media (min-width: 768px){
    .formRow {
        flex-direction: row;
    }

    .formInputRow {
        width: 320px;
        flex-direction: row;
    }

    .formInput {
        width: 320px;
        margin-right: 20px;
    }

    .formInputPostal {
        width: 110px;
        margin-right: 20px;
    }

    .formInputCity {
        width: 190px;
    }
}

.list {
    list-style-type: none;
    padding: 0;
}

.languageRadioBtnRow {
    margin-bottom: 10px;
}

.radioButtonRow {
    float: left;
    margin-right: 50px;
}

.listLabel {
    margin-left: 10px;
}

.hidePhotoUsageApproved {
    display:none;
}

.terms {
    margin-top: 30px;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.buttonAlign {
    text-align: center;
}

@media (min-width: 768px) {
    .buttonAlign {
        text-align: left;
    }
}

.formWrapper h3:not:first-child {
    margin-top: 60px;
    margin-bottom: 20px;
}

.approverInfoText {
    margin-bottom: 10px;
}

.radioLabel {
    font-weight: 700;
    font-size: 0.9em;
    margin-top: var(--spacing-l);
    margin-bottom: 5px;
}

.button {
    min-width: 230px;
    width: 100%;
    margin-right: 20px;
    margin-top: 20px;
}

@media (min-width: 400px) {
    .terms {
        margin-top: 20px;
    }
}

@media (min-width: 540px) {
    .button {
        min-width: 230px;
        width: auto;
    }

    .formTitleText h1 {
        font-size: var(--fontsize-h-1);
    }
}
