@media (min-width: 768px){
  .content {
      padding: 10px 50px;
      text-align: left;
  }
}

.content {
  text-align: left;
}

.formTitleText {
  text-align: center;
}
@media (min-width: 768px) {
  .formTitleText {
      text-align: left;
  }
}

@media (min-width: 768px) {
  .formData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .formData > * {
    width: 50%;
  }
}
