.helpText {
  margin: 40px 10px 75px;
}

.button {
  margin-bottom: 50px;
  width: 100%;
}

@media (min-width: 400px) {
  .button {
    width: auto;
  }
}

@media (min-width: 500px) {
  .helpText {
    margin: 40px 100px 75px;
  }
}
