.membershipDetails {
  text-align: left;
}

.subHeading {
  margin-top: 20px;
}

.paragraph {
  margin-top: 20px;
}

.check::before {
  color: var(--color-bus);
  content: '\2713';
  display: inline-block;
  margin-right: 10px;
}
.check {
  display: block;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .membershipDetails {
    margin-left: 40px;
    margin-right: 40px;
  }
  .fieldsGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: var(--spacing-m);
  }
  .fieldsGroup > * {
    flex-basis: 50%;
  }
  .fieldsGroup.three > * {
    flex-basis: calc(100% / 3);
  }
}

.button {
  margin-right: 20px;
  width: 100%;
  margin-top: 20px;
}

.membershipDetails h1 {
  font-size: var(--fontsize-h-2);
}

.membershipDetails h2 {
  font-size: var(--fontsize-h-3);
}

@media (min-width: 540px) {
  .button {
    width: 230px;
  }
}
