.logoFi {
    background-size: contain;
    background: url("../svg/HelsinkiLogoFi.svg") no-repeat;
}

.logoSv {
    background-size: contain;
    background: url("../svg/HelsinkiLogoSv.svg") no-repeat;
    margin-right: 5px;
}

@media (min-width: 400px) {
    .logoSv {
        margin-right: 20px;
    }
}