.button {
  background: var(--hds-ui-color-black);
  border: none;
  color: var(--hds-ui-color-white);
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  min-width: 230px;
}

.button:hover {
  background: var(--hds-ui-color-black-80);
}

.button:disabled {
  background: var(--hds-ui-color-black-40);
  cursor: not-allowed;
}
