.hostingBox {
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;
  -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
  margin: auto;
  margin-top: 2%;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.button {
  background-color: blue;
  color: white;
  font-size: medium;
  height: 50px;
  margin-top: 4%;
  width: 250px;
}
