@media (max-width: 1200px) {
  .loginButton {
      background-color: blue;
      color: white;
      font-size: medium;
      height: 50px;
      margin-top: 20px;
      width: 250px;
  }
}

@media (min-width: 1200px) {
  .helpText {
    margin: 0 100px;
  }
}
  