.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membershipNumber {
  font-size: var(--fontsize-heading-m);
}

.membershipExpiryTitle {
  margin-bottom: var(--spacing-m);

  font-weight: 600;
}

.membershipExpiryDescription {
}
