.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membershipNumber {
  font-size: var(--fontsize-heading-m);
}

.membershipStatus {
  margin-bottom: var(--spacing-m);
}

.membershipExpiryTitle {
  font-weight: 600;
}
