.youthProfileFormSection {
  --youth-profile-form-section-max-width: 1024px;
  --youth-profile-form-section-v-padding: var(--spacing-xs);

  max-width: var(--youth-profile-form-section-max-width);
  margin: 0 auto;
  padding: var(--spacing-layout-s) var(--youth-profile-form-section-v-padding);

  background: var(--color-white);
}
.youthProfileFormSection:not(:last-child) {
  margin-bottom: var(--spacing-layout-2-xs);
}

@media (min-width: 400px) {
  .youthProfileFormSection {
    --youth-profile-form-section-v-padding: var(--spacing-3-xl)
  }
}
