.header {
  grid-column: viewport;
  grid-row: navigation;
}

.fakeAction {
  display: flex;
  align-items: center;

  color: var(--color-black);
  font-weight: 500;
}
.fakeAction > span:last-of-type {
  padding: var(--spacing-2-xs);
  padding-left: var(--spacing-3-xs);
}
