.header {
  padding: 10px 0;
}

.centeredContainer {
  width: auto;
  align-items: center;
  display: flex;
}

@media (min-width: 1200px) {
  .centeredContainer {
    width: 1200px;
    margin: 0 auto;
  }
}

.appName {
  font-size: 16px;
  font-weight: bold;
  margin-left: -10px;
}

@media (min-width: 415px) {
  .appName {
    font-size: 24px;
    margin-left: 10px;
  }
}

.logo {
  height: 42px;
  margin-left: -10px;
}

@media (min-width: 415px) {
  .logo {
    margin-left: 0;
  }
}

.end {
  margin-left: auto;
  padding-right: 20px;
}

@media (min-width: 810px) {
  .mobileNav {
    display: none;
  }
}

.desktopNav {
  display: none;
}
@media (min-width: 810px) {
  .desktopNav {
    display: flex;
    align-items: center;
  }
}
