.hostingBox {
    margin: auto;
    margin-top: 20px;
    padding-bottom: 50px;
    width: 1200px;
}

header {
    background-color: white;
}

.adultBackground {
    background-color: #0072c6;
}

.youthBackground {
    background-color: #ffc61e;
}