.hostingBox {
    margin: 20px auto 0;
    padding-bottom: 50px;
    width: 1200px;
    flex: 1 0 auto;
}

@media (max-width: 1200px) {
    .hostingBox {
        margin: 10px 10px 0;
        width: auto;
    }
}


header {
    background-color: white;
}

.background {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.adultBackground {
    background-color: #0072c6;
}

.youthBackground {
    background-color: #ffc61e;
}
