.formRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.formInput {
    margin-right: 20px;
    width: 350px;
}

.formInputShort {
    margin-right: 20px;   
    width: 200px;
}

.emailTitle {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.email {
    margin-right: 170px;
    margin-top: 10px;
}

.childBirthDayInput {
    margin: 0 20px 0 0 ;
    width: 100px;
}

.childBirthInput {
    margin: 25px 20px 0 0 ;
    width: 100px;
}

.birthdayMiddleDot {
    margin: 48px 15px 0 0;
}

.list {
    list-style-type: none;  
    padding: 0;
}

.checkBoxRow {
    margin-bottom: 10px;
}

.radioButtonRow {
    float: left;
    margin-right: 50px;
}

.listLabel {
    margin-left: 10px;
}

.hidePhotoPermit {
    display:none;
}

.acceptTermsCheckBox {
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: #0000bf;
    color: #ffffff;
    margin-top: 30px;
    height: 50px;
    width: 400px;
}

button:disabled {
    background-color:#cccccc;
}