.formTitleText {
    text-align: center;
}
@media (min-width: 768px) {
    .formTitleText {
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .formRow {
        margin-bottom: 50px;
    }
}

.formRow {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .formRow {
        display: flex;        
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .formInput {
        margin-right: 20px;
        width: 350px;
    }

    .formInputRes {
        margin-right: 20px;   
        width: 200px;
    }
}

.formInputShort {
    margin-right: 20px;   
    width: 200px;
}

@media (max-width: 768px) {
    .formInput {
        margin-bottom: 20px;
    }

    .formInputShort {
        margin-bottom: 20px;
    }

    .formInputRes {
        margin-bottom: 20px;
    }
}

.resRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .resRow {
        margin-bottom: 20px;
    }
}

.childBirthDayInput {
    margin: 0 2px 0 0;
    width: 80px;
}

.childBirthInput {
    margin: 25px 2px 0 0 ;
    width: 80px;
}

.birthdayMiddleDot {
    margin: 48px 0 0;
}


@media (min-width: 768px) {

    .childBirthDayInput {
        margin: 0 20px 0 0 ;
        width: 100px;
    }

    .childBirthInput {
        margin: 25px 20px 0 0 ;
        width: 100px;
    }

    .birthdayMiddleDot {
        margin: 48px 15px 0 0;
    }
}

.emailTitle {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .emailTitle {
        margin-bottom: 0;
    }

    .email {
        margin-bottom: 20px;
    }
}

.email {
    margin-right: 110px;
    margin-top: 10px;

}

.list {
    list-style-type: none;  
    padding: 0 0 20px;
}

.checkBoxRow {
    margin-bottom: 10px;
}

.radioButtonRow {
    float: left;
    margin-right: 50px;
}

.listLabel {
    margin-left: 10px;
}

.hidePhotoUsageApproved {
    display:none;
}

.acceptTermsCheckBox {
    padding-left: 0;
}

a {
    text-decoration: none;
}

.buttonAlign {
    text-align: center;
}

@media (min-width: 768px) {
    .buttonAlign {
        text-align: left;
    }
}

.birhtdayErrorMessage {
    color: var(--hds-ui-color-error);
}

.birhtdayErrorMessage {
    margin: -10px 0 20px;

}

@media (min-width: 768px){
    .birhtdayErrorMessage {
        margin: -40px 0 50px;
    }
}