.formTitleText {
    text-align: center;
}
@media (min-width: 768px) {
    .formTitleText {
        text-align: left;
    }
}

.formRow {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.formInputRow {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formInput {
    width: 100%;
}

.formInputPostal {
    width: 100%;
}

.formInputCity {
    width: 100%;

}

@media (min-width: 768px){
    .formRow {
        flex-direction: row;
    }

    .formInputRow {
        width: 320px;
        flex-direction: row;
    }

    .formInput {
        width: 320px;
        margin-right: 20px;
    }

    .formInputPostal {
        width: 110px;
        margin-right: 20px;
    }

    .formInputCity {
        width: 190px;
    }
}

.list {
    list-style-type: none;
    padding: 0;
}

.languageRadioBtnRow {
    margin-bottom: 10px;
}

.radioButtonRow {
    float: left;
    margin-right: 50px;
}

.listLabel {
    margin-left: 10px;
}

.hidePhotoUsageApproved {
    display:none;
}

.terms {
    padding-left: 0;
}

a {
    text-decoration: none;
}

.buttonAlign {
    text-align: center;
}

@media (min-width: 768px) {
    .buttonAlign {
        text-align: left;
    }
}

.formWrapper h3 {
    margin-top: 60px;
}
