@media (min-width: 768px){
  .content {
      padding: 10px 50px;
      text-align: left;
  }
}

.content {
  text-align: left;
}

.content h3 {
  margin-top: 40px;
}

.formTitleText {
  text-align: center;
}
@media (min-width: 768px) {
  .formTitleText {
      text-align: left;
  }
}

@media (min-width: 768px) {
  .formFields, .formData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 750px;
  }
}

.formData > * {
  width: 50%;
}

.formField {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .formField {
    flex-basis: 50%;
    max-width: 350px;
    padding: 10px 10px 10px 0;
  }
  .formField:nth-of-type(even) {
    padding-right: 0;
    padding-left: 10px;
  }
}

.list {
  list-style-type: none;
  padding: 0 0 20px;
}

.radioButtonRow {
  float: left;
  margin-right: 50px;
}

.listLabel {
  margin-left: 10px;
}

.terms {
  padding-left: 0;
}
