.koros {
    width: 100%;
    fill: var(--color-black-5);
    height: 60px;
}

.footer {
    width: 100%;
    flex-shrink: 0;
    background-color: var(--color-black-5);

    padding: 0 10px 20px;
}

.content {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1200px) {
    .content {
        width: 1200px;
    }
}

.logo {
    height: 42px;
    margin-left: -20px;
}


hr {
    border-top: 1px solid var(--color-black);
    margin: 15px 0;
    width: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.8;
}


.feedback {
    text-decoration: underline var(--color-black);
    font-weight: bold;
    margin-top: 15px;
}

.links {
    color: var(--color-black);
    font-weight: bold;
}

.links:visited,
.feedback:visited {
    color: var(--color-black);
}

@media (min-width: 600px) {
    .textContainer {
        flex-direction: row;
    }

    .feedback {
        margin-top: 0;
    }
}
