.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.validUntil {
    margin-bottom: 50px;
}

.renew {
    margin-top: 40px;
}

.detailsLink {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.detailsLink:visited {
    color: var(--hds-ui-color-black);
}

.icon {
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

.container button {
    width: 195px;
}
