.text {
  color: var(--color-black-90);
}
.text:last-child {
  margin-bottom: 0;
}

.h1 {
  margin: 0 0 var(--spacing-s) 0;

  font-size: var(--fontsize-heading-l);
  line-height: var(--lineheight-l);
}
@media (min-width: 540px) {
  .h1 {
    font-size: var(--fontsize-heading-xl);
  }
}

.h2 {
  margin: 0 0 var(--spacing-s) 0;

  font-size: var(--fontsize-heading-l);
}

.h3 {
  margin: 0 0 var(--spacing-s) 0;

  font-size: var(--fontsize-heading-m);
}

.h4 {
  margin: 0 0 var(--spacing-s) 0;

  font-size: var(--fontsize-heading-s);
}

.info {
  margin: 0 0 var(--spacing-m) 0;

  line-height: var(--lineheight-l);
  font-size: var(--fontsize-body-l);
}
